.body{
    padding: 0% 2%;
    text-align: justify;
    transition: .3s;
    z-index: 1;
    position: relative;
}

.overlay {
    padding: 0% 2%;
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: cell;
    transition: .3s;
    z-index: 500;
}

.modalHeader, .modalFooter {
    display: flex;
    flex-direction: row-reverse;
}

.modalfooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.okeyButton {
    background-color: rgb(86, 192, 132);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid rgb(86, 192, 132);
    margin-right: 1rem;
}

.modalButton {
    background-color: rgb(86, 120, 192);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid rgb(86, 120, 192);
    align-items: center;
    vertical-align: middle;
}

.cancelButton {
    background-color: rgb(194, 4, 4);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid rgb(194, 4, 4);
}

.buttonSection {
    width: 20%;
    margin: auto;
}

.modal {
    position: absolute;
    display: none;
    top: 30%;
    left: 24%;
    background-color: rgb(248, 247, 247);
    text-align: justify;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    z-index: 999;
}

@media only screen and (max-width: 560px) {
    .modal {
        box-sizing: border-box;
        position: absolute;
        display: none;
        top: 30%;
        left: 2%;
        background-color: rgb(248, 247, 247);
        text-align: justify;
        padding: 15px;
        width: 96%;
        border-radius: 5px;
        border: 1px solid rgb(160, 160, 160);
    }   
    
}